<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do lists</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css">
  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
          <div class="text-center">

            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="post" action="{% block form_action %}{% endblock %}">
              {{ form.text }}
              {% csrf_token %}
              {% if error %}
                <div class="form-group has-error">
                  <span class="help-block">
                    {{ error }}
                  </span>
                </div>
              {% endif %}
            </form>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% block table %}
          {% endblock %}
        </div>
      </div>

    </div>
  </body>
</html>
