<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do lists</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css">
  </head>
  <body>

    <div class="container">

      <div class="navbar">
        {% if user.email %}
          <p>logged in as {{ user.mail }}</p>
          <p><a href="{% url 'logout' %}" id="logout"> Sign out </a></p>
        {% else %}
          <a href="#" id="login"> Sign in </a>
        {% endif %}
        <p>User: {{ user }}</p>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
          <div class="text-center">

            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="post" action="{% block form_action %}{% endblock %}">
              {{ form.text }}
              {% csrf_token %}
              {% if form.errors %}
                <div class="form-group has-error">
                  <div class="help-block">
                    {{ form.text.errors }}
                  </div>
                </div>
              {% endif %}
            </form>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% block table %}
          {% endblock %}
        </div>
      </div>

    </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/list.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/login.js"></script>
  </body>
</html>
